.new-project__btn {
    background: var(--accent);
    color: var(--dark-01);
    font-weight: bold;
    font-size: 1rem;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.new-project__btn:hover {
    background: var(--hover-btn);
}