.task-visualization-menu {
    background: var(--dark-02);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 2rem;
    display: flex;
}

.task-visualization-menu__option {
    padding: .75rem 1rem;
    list-style: none;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
}
.task-visualization-menu__option:hover {
    background: var(--hover);
}