.projects-list__project-card {
    background: var(--dark-02);
    padding: 1rem;
    margin: 1rem;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-top: 1px solid var(--accent);

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: .5s ease-in fade-in;
}

/* .projects-list__project-card:hover {
    background: var(--hover);
} */

.projects-list__project-card__options-btn {
    border: none;
    width: 37px;
    background: none;
    color: var(--light);
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}
.projects-list__project-card__options-btn:hover {
    background: var(--accent);
    border-radius: 10px;
}

.projects-list__project-card__options-btn__img {
    width: 20px;
}


