.project {
    width: 100vw;
    min-width: 1000px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.project-header {
    width: 100%;
    text-align: center;
    padding: 1rem;
    background: var(--dark-02);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-header__back-btn__img {
    width: 20px;
}

.project-header__back-btn {
    background: var(--accent);
    font-weight: bold;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


.project-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 1600px;
}

.project-board-column {
    padding: .5rem;
}

.project-board-column__title {
    text-align: center;
    padding: .5rem;
}

.project-board-column__new-task-btn {
    width: 100%;
    background: var(--accent);
    color: var(--dark-01);
    font-weight: bold;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.project-header__back-btn:hover,
.project-board-column__new-task-btn:hover {
    background: var(--hover-btn);
}