.project {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-header {
    width: 100%;
    text-align: center;
    padding: 1rem;
    background: var(--dark-02);
}

.project-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1500px;
}

.project-board-column {
    padding: .5rem;
}

.project-board-column__title {
    text-align: center;
    padding: .5rem;
}

.project-board-column__new-task-btn {
    width: 100%;
}