:root {
    /* COLOR PALLETE */
    --dark-01: #12101e;
    --dark-02: #202634;
    --accent: #15d3b9;
    --purple: #4f60eb;
    --orange: #ff9574;
    --red: #fe3b77;
    --green: #3ede9c;
    --white: #ffffff;
    /* COLORS FOR TASKS */
    --task-color-1: #E6261F;
    --task-color-2: #EB7532;
    --task-color-3: #F7D038;
    --task-color-4: #A3E048;
    --task-color-5: #49DA9A;
    --task-color-6: #34BBE6;
    --task-color-7: #4355DB;
    --task-color-8: #D23BE7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
}

@font-face {
    src: url('./fonts/Ubuntu-Light.ttf');
    font-family: "Ubuntu";
    font-weight: 300;
    font-style: normal;
}

@font-face {
    src: url('./fonts/Ubuntu-LightItalic.ttf');
    font-family: "Ubuntu";
    font-weight: 300;
    font-style: italic;
}

@font-face {
    src: url('./fonts/Ubuntu-Regular.ttf');
    font-family: "Ubuntu";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url('./fonts/Ubuntu-Regular.ttf');
    font-family: "Ubuntu";
    font-weight: 400;
    font-style: italic;
}

@font-face {
    src: url('./fonts/Ubuntu-Medium.ttf');
    font-family: "Ubuntu";
    font-weight: 500;
    font-style: normal;
}

@font-face {
    src: url('./fonts/Ubuntu-Medium.ttf');
    font-family: "Ubuntu";
    font-weight: 500;
    font-style: italic;
}

@font-face {
    src: url('./fonts/Ubuntu-Bold.ttf');
    font-family: "Ubuntu";
    font-weight: 700;
    font-style: normal;
}

@font-face {
    src: url('./fonts/Ubuntu-BoldItalic.ttf');
    font-family: "Ubuntu";
    font-weight: 700;
    font-style: italic;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
}

.btn:hover {
    cursor: pointer;
}

input {
    border-radius: 5px;
    border: none;
}

input:focus {
    outline: none;
}

li {
    list-style: none;
}
