.new-task-modal {
    z-index: 3;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

.new-task {

    background: var(--dark-02);
    border-radius: 5px;
}

.new-task-form {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.new-task-form input, .new-task-form textarea {
    background: rgba(255, 255, 255, 0.1);
    color: var(--light);
}
.new-task__title,
.new-task__details,
.new-task__expiration {
    margin: .5rem 0;
    padding: .5rem;
}

.new-task__details {
    border-radius: 5px;
    resize: none;
    height: 10rem;
    border: none;
}

.new-task__details:focus {
    outline: none;
}

.new-task__add-task-btn {
    margin: 1rem 0;
    background: var(--accent);
    color: var(--dark-01);
    font-weight: bold;
    font-size: 1rem;
}

.new-task__close-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-task__close-btn-container {
    padding: 1rem;
}

.new-task__close-btn {
    width: 37px;
    background: none;
    color: var(--light);
    font-weight: bold;
}

.new-task__doble-input-line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    place-items: center;
    grid-column-gap: 1.5rem;
}

.new-task__expiration {
    width: 100%;
}

.new-task__expdate-label,
.new-task__color-label {
    place-self: start;
}

@media (max-width: 576px) {
    .new-task {
        width: 100vw;
        border-radius: 0;
        position: fixed;
        top: 0;

    }
    .new-task-form {
        min-width: 0;
    }
}